<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<title>LearnTravia</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/mock.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

.mySlides {display: none}
</style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide">LearnTravia</a>
    <!-- Right-sided navbar links -->
   <div class="w3-right w3-hide-small">
      <a href="home.html" class="w3-bar-item w3-button"><i class="fa fa-home"></i> HOME</a>
      <a href="book.html" class="w3-bar-item w3-button"><i class="fa fa-book"></i> BOOKS</a>
      <a href="uni.html" class="w3-bar-item w3-button"><i class="fa fa-graduation-cap"></i> UNIVERSITY</a>
      <a href="mock.html" class="w3-bar-item w3-button"><i class="fas fa-laptop-code"></i> MOCK TEST</a>
      <a href="contact.html" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">HOME</a>
  <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">BOOKS</a>
  <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">UNIVERSITY</a>
  <a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button">MOCK TEST</a>
  <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
</nav>
  <div class="left">
      <h1 style="font-size: 40px;">Take A Online Test With LearnTravia</h1>
      <p style="font-size: 20px;">Aspire to improve .... Inspire to grow </p>
    <a href="login.html" ><button>Let's Start</button></a>

    </div>
    <div class="right">
      <div class="img"><img src="../static/mock.jpg">

      </div>

  </div>
</div>


</body>